[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "==8.3.1"
cryptography = "==3.3.1"
PyYAML = "==5.3.1"
urllib3 = "==1.26.4"

[dev-packages]

[requires]
python_version = "3.9"
